[Desktop Entry]
Name=wormux
Comment=A free (libre) clone of Worms from Team17
Comment[pl]=Wolnodostępny klon Worms zTeam17
Exec=wormux
Icon=wormux.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
Encoding=UTF-8
# vi: encoding=utf-8
